@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoint' as *;

.site-header {
  z-index: 666666;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
}

.sh-pc-main {
  @include max($sh-breakpoint-max) {
    display: none;
  }
}

.sh-sp-main {
  @include min($sh-breakpoint-min) {
    display: none;
  }
}

//共通
.sh {
  &-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(#fff, 90%);
    backdrop-filter: blur(5px);
    width: fit-content;
    @include max($sh-breakpoint-max) {
      position: relative; //前面に
      z-index: 1;
      width: 100%;
    }
    @include max {
      align-items: center;
    }
    &-logo {
      padding: 18px 20px;
      @include max(ll) {
        padding: 12px 15px;
      }
      img {
        display: block;
        width: 192px;
        @include max {
          width: 130px;
        }
      }
    }
  }
}

//PC版
.sh {
  &-pc-main {
    flex: 1;
    background-color: rgba(#fff, 90%);
    backdrop-filter: blur(5px);
    &-inner {
      display: flex;
      justify-content: flex-end;
      gap: min(2.7vw, 50px);
      height: 100%;
      @include max(ll) {
        gap: 2vw;
      }
    }
    &-nav {
      display: flex;
      gap: inherit;
      .nav-item {
        position: relative;
        display: grid;
        place-items: center;
        font-weight: $fw-med;
        @include max(ll) {
          font-size: 14px;
        }
        &.external {
          p::after {
            content: '';
            display: inline-block;
            vertical-align: sub;
            margin-left: 3px;
            width: 20px;
            height: 20px;
            background-color: #000;
            mask: url(../img/icon-external-link.svg) no-repeat center / contain;
          }
        }
        &::after {
          content: '';
          opacity: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 7px;
          background-color: $col-red;
          transition: all 0.3s;
        }
        &:hover {
          opacity: 1;
          color: $col-red;
          &.external p::after {
            background-color: $col-red;
          }
          &::after {
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
    .contact {
      display: grid;
      place-items: center;
      gap: 8px;
      width: fit-content;
      padding-inline: 20px;
      background-color: $col-red;
      &-icon {
        vertical-align: bottom;
        display: inline-block;
        width: 20px;
        height: 14px;
        margin-right: 6px;
        background: url(../img/icon-mail.svg) no-repeat center / contain;
      }
      &-txt {
        font-weight: $fw-bol;
        color: #fff;
        line-height: 1;
        @include max(ll) {
          font-size: 14px;
        }
      }
    }
  }
  &-pc-hover {
    --sh-hover-duration: 0.2s;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    background-color: rgba(#1d1d1d, 80%);
    backdrop-filter: blur(15px) brightness(1.15);
    opacity: 1;
    visibility: visible;
    transition: height 0.3s;
    &-item {
      width: 100%;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: opacity var(--sh-hover-duration), visibility 0s var(--sh-hover-duration);
    }
  }
  &-pc-submenu {
    &-header {
    }
    &-main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.is-active {
  &.sh-pc-hover {
    width: 100%;
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  &.sh-pc-hover-item {
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: opacity var(--sh-hover-duration) var(--sh-hover-duration), visibility 0s 0s;
  }
}

//SP版
.sh {
  &-bar-btn {
    @include min($sh-breakpoint-min) {
      display: none;
    }
    cursor: pointer;
    display: grid;
    place-content: center;
    width: 70px;
    aspect-ratio: 1;
    background-color: $col-red;
    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 22px;
      .line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #fff;
      }
    }
  }
  &-sp-main {
    --sh-hover-duration: 0.3s;
    // -- 開閉時のアニメーション関連
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--sh-hover-duration), height 0s var(--sh-hover-duration), visibility 0s var(--sh-hover-duration);
    // --
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgba(#1d1d1d, 80%);
    backdrop-filter: blur(15px) brightness(1.15);
    color: #fff;
    &-inner {
      padding: 20px;
      a:hover {
        opacity: 1;
        color: $col-red;
      }
    }
    &-nav {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .nav-item {
        display: flex;
        gap: 8px;
        padding-bottom: 15px;
        border-bottom: solid 1px rgba(#eaeaea, 10%);
        &::before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          margin-top: 11px;
          background-color: $col-red;
        }
      }
      .submenu {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 15px;
        border-bottom: solid 1px rgba(#eaeaea, 10%);
        &-item {
          letter-spacing: 0.06em;
        }
      }
    }
    .contact-btn {
      margin: 30px auto 0;
      background-color: #fff;
      &::before {
        content: '';
        display: none;
      }
      &:hover {
        background-color: rgba(#fff, 90%);
        color: $col-red;
      }
    }
    &-footer {
      margin-top: 30px;
      a {
        display: block;
      }
      .youtube {
        width: 64px;
        margin-bottom: 20px;
      }
      .page-link + .page-link {
        margin-top: 15px;
      }
      .copyright {
        margin-top: 40px;
        font-size: 12px;
      }
    }
  }
}

.is-active {
  &.sh-bar-btn {
    .line {
      &.top {
        transform-origin: top right;
        transform: rotate(-45deg) translate(-3px, -3px);
      }
      &.med {
        opacity: 0;
      }
      &.btm {
        transform-origin: bottom right;
        transform: rotate(45deg) translate(-3px, 3px);
      }
    }
  }
  &.sh-sp-main {
    overflow: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity var(--sh-hover-duration), height 0s 0s, visibility var(--sh-hover-duration) 0s;
  }
}
