@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoint' as *;

html {
  scroll-behavior: smooth;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: $fw-reg;
  color: #303030;
}

a {
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.none {
  &-max {
    &-l {
      @include max(l) {
        display: none;
      }
    }

    &-t {
      @include max {
        display: none;
      }
    }
  }

  &-min {
    &-t {
      @include min {
        display: none;
      }
    }

    &-l {
      @include min(l) {
        display: none;
      }
    }
  }
}

.container {
  max-width: 1200px;
  width: calc(100% - 60px);
  margin-inline: auto;
}
