@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoint' as *;

html {
  scroll-behavior: smooth;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: $fw-reg;
  color: #303030;
}

.site-header{

}

.site-footer{
	
}