@use './variables' as *;
@use './breakpoint' as *;

a {
	opacity: 1;

	&:hover {
		opacity: 0.8;
	}
}

img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.none {
	&-max {
		&-l {
			@include max(l) {
				display: none;
			}
		}

		&-t {
			@include max {
				display: none;
			}
		}
	}

	&-min {
		&-t {
			@include min {
				display: none;
			}
		}

		&-l {
			@include min(l) {
				display: none;
			}
		}
	}
}