// フォント
$ff-noto-sans: 'Noto Sans JP', sans-serif;
$ff-oswald: 'Oswald', sans-serif;

//フォントの太さ
$fw-thn: 100;
$fw-exl: 200;
$fw-lit: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-smb: 600;
$fw-bol: 700;
$fw-exb: 800;
$fw-bck: 900;

//色
$black: #000;
$red: #c6000b;
$bg-gray: #fafafa;
