// フォント
// $ff-noto-sans: 'Noto Sans JP', sans-serif;
// $ff-noto-serif: 'Noto Serif JP', serif;
// $ff-zen-maru: 'Zen Maru Gothic', sans-serif;
$ff-manrope: 'Manrope', sans-serif;

//フォントの太さ
$fw-thn: 100;
$fw-exl: 200;
$fw-lit: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-smb: 600;
$fw-bol: 700;
$fw-exb: 800;
$fw-bck: 900;

//色
// $col-orange: #f37321;
// $col-green: #019245;
